# xcode files

**/*.xcconfig
**/*.xcodeproj/**
openFrameworks-Info.plist

# binaries

**/*.app/**
obj/**

# temp files

*.swp
*~

# wiki folder so you can clone the documentation locally
wiki
wiki/**
